title: Changelog 
view: home
---

<h2>Alkemy Changelog</h2>

<p>What's changed?</p>

<h3>Version 0.3 [2011-09-18]</h3>
<p>Added "assets" command</p>
<ul>
	<li>Added "assets" command which updates just the site assets</li>
	<li>Added support for "link" front-matter</li>
	<li>Disabled allassets(), cssfiles(), and jsfiles() template commands -- they have some bugs and, ultimately, aren't that useful</li>
</ul>

<h3>Version 0.2 [2011-09-10]</h3>
<p>Licenses and documentation cleanup</p>
<ul>
	<li>Added the "MIT License" to the codebase</li>
	<li>Removed TimThumb (used GPL2) and replaced with PHPThumb</li>
	<li>Added more complete documentation and examples for using the image function</li>
</ul>

<h3>Version 0.1 [2011-09-06]</h3>
<p>First version released, it does what it does!</p>
<ul>
	<li>No specifc changes to list</li>
</ul>