title: Download 
view: home
---

<h2>Download Alkemy</h2>

<p>There are several ways to get your hands on Alkemy:</p>


<h2>Download tar/zip</h2>

<ul>
	<li><a href="/downloads/alkemy.tgz">alkemy.tgz</a></li>
	<li><a href="/downloads/alkemy.zip">alkemy.zip</a></li>
</ul>

<p>Check out <a href="/installation/">How to Install Alkemy</a> for more info on getting up and running.</p>


<h2>Clone the Mercurial Repository</h2>

<p><a href="https://bitbucket.org/chuyskywalker/alkemy">Alkemy, hosted on BitBucket.org</a>, can be cloned to your local machine. If you wish to contribute some changes, I'd welcome bug fixes and improvements!</p>

<pre>    # <span class="command">hg clone https://bitbucket.org/chuyskywalker/alkemy</span></pre>

