title: Alkemy -- Website Generation from Static Files
view: home
---

<h2>Build secure, fast, templated static sites.</h2>

<p>Alkemy can be used to easily create staically generated sites.</p>

<p>Here's a quick, 3 step guide to create an Alkemy directory, add a post, and build the site:</p>

<pre>    # cd /tmp/test/ && ll
    total 0
    # <span class="command">alkemy init</span>
    Creating folder structure
    Created; content
    Created; content/assets
    Created; content/images
    Created; content/pages
    Created; content/posts
    Created; content/views
    Created; site
    Created; config
    # ll
    drwxr-xr-x 2 user user 4096 Sep  5 05:51 config
    drwxr-xr-x 7 user user 4096 Sep  5 05:51 content
    drwxr-xr-x 2 user user 4096 Sep  5 05:51 site
    # <span class="command">alkemy new 'First Post'</span>
    # ll content/posts/
    -rw-r--r-- 1 user user 42 Sep  5 05:52 2011-09-05-first-post.textile
    # cat content/posts/2011-09-05-first-post.textile
    title: First Post
    ---
    A post!
    # <span class="command">alkemy update</span>
    Starting update
    Parsing; /tmp/test/content/posts/2011-09-05-first-post.textile
    Creating dir; /tmp/test/site/first-post
    Compiling; /tmp/test/content/posts/2011-09-05-first-post.textile; /tmp/test/site/first-post/index.html
    Updating complete
    # ll site/
    drwxr-xr-x 2 user user 4096 Sep  5 05:52 first-post
    # ll site/first-post/
    -rw-r--r-- 1 user user 15 Sep  5 05:52 index.html</pre>

<p>Get started learning more by visiting the <a href="/introduction/">Introduction to Alkemy</a></p>

