span.command { color: red; }

html {
background: url('/circle.png') no-repeat -100px -100px;
}

body {
margin: 50px 80px;
padding: 10px 15px;
background: rgba(255,255,255,.80);
box-shadow: 0px 0px 5px #ccc;
position: relative;
max-width: 60em;
min-width: 35em;
min-height: 500px;
}

a{
color: #009fd0;
text-decoration: none;
}
a:hover, li.current-page a {
color: #bf403d;
}

.clear {
clear: both;
}

h1, h2, h3, h4, h5, h6 {
margin: 0;
padding: 0;
}

h1 {
float: left;
padding-right: 10px;
margin-left: -5px;
}

#header p {
padding-top: 14px;
margin: 3px 0;
}

.content {
float: left;
padding-left: 122px;
padding-top: 8px
}

.content h1, 
.content h2, 
.content h3, 
.content h4, 
.content h5, 
.content h6 {
margin-left: -10px;
}

.sidebar {
position: absolute;
top: 56px;
left: -10px;
padding: 10px;
}

#download {
top: 350px;
}

.sidebar:after {
content: '';
position: absolute;
top: 0px;
left: 0px;
width: 10px;
height: 100%;
background: rgba(255,255,255,1);
box-shadow: -2px 0px 0px rgba(0,0,0,.1);
border-radius: 10px 0 0 10px;
}



.sidebar  p {
margin: 0;
padding: 0 0 5px 0;
}

.sidebar ul ,
.sidebar ul li {
list-style: none;
padding: 0;
margin: 0;
}

.sidebar ul li {
margin-left: 5px;
width: 100px;
font-size: .8em;
padding-bottom: 5px;
}

.sidebar ul li a{
display: block;
}

.downloadlink a {
font-weight: bold;
font-size: 1em;
color: #e22;
}

.copyright {
position: absolute;
bottom: -40px;
width: 100%;
text-align: center;
font-size: 13px;
}